<p id="notice"><%= notice %></p>

<p>
  <b>Screen name:</b>
  <%= @tweeter.screen_name %>
</p>

<table>
  <tr>
    <th>Tweeter</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweeter.tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.tweeter_id %></td>
    <td><%= tweet.message %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>




<%= link_to 'Edit', edit_tweeter_path(@tweeter) %> |
<%= link_to 'Back', tweeters_path %>
